 :root{
    --roxo: #4e4c4c;
}
body{
    background-color: var(--roxo); 
}

h4{
    color: black;
}

/* mudei a cor e fundo e a cor o h1 */

img{
    width: 20%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    flex-direction: row-reverse;

}