 :root{
    --roxo: #4e4c4c;
    --branco: white;

}
body{
    background-color: var(--branco); 
}

h4{
    color: black;
}

/* mudei a cor e fundo e a cor o h1 */

img{
    width: 11%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: brown;
    flex-direction: row-reverse;

}
#intro{
    display: flex;
}

.img-intro{
width: 20%;
}